* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(60, 163, 236);
    color: white;
}

body {
    text-align: center;
}

h2 {
    padding: 50px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
}